deb [trusted=yes] http://archive.debian.org/debian/ {{.VersionCodename}} main non-free contrib
deb-src [trusted=yes] http://archive.debian.org/debian/ {{.VersionCodename}} main non-free contrib
deb [trusted=yes] http://archive.debian.org/debian-security/ {{.VersionCodename}}/updates main non-free contrib
deb-src [trusted=yes] http://archive.debian.org/debian-security/ {{.VersionCodename}}/updates main non-free contrib
